section {
  display: inline-block;
  border: 1px solid rgba(55, 55, 55, .3);
  margin: 10px;
}

.flex-grid {
  display: flex;
}

.graph {
  width: 60vw;
}

.node-information {
  width: 30vw;
  padding: 10px;
  word-wrap: break-word;
  background-color: aliceblue;
}

button {
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

article {
  background-color: lightyellow;
  height: 450px;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid rgba(55, 55, 55, .3);
}
  
article p span:first-child {
  text-decoration: underline;
}

article p span:nth-child(2) {
  text-decoration: none;
  word-wrap: break-word;
}